@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-image: url("https://www.transparenttextures.com/patterns/food.png");
  /* background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("https://www.transparenttextures.com/patterns/food.png"); */


}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #FFEEA9;
}

::-webkit-scrollbar-thumb {
	background: #FFBF78;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #FFEEA9;
}